body {
    background: white;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#signInButtons {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.authButton {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #34D303;
}

#loginTitle {
    font-size: 4em;
}

.stat {
    display: flex;
}

.home-page-buttons{
    border: 1px black solid; 
    background-color: rgb(147, 225, 156);
}

#homeButton{
    margin-right: 900px;
}

#purchaseButtons{
    margin-top: auto;
}

.btn{
    border: black solid 1px;
}

.card {
    margin: 10px 0;
}

@media screen and (max-width: 480px) {
    .scaleText{
        font-size: medium;
    }
    #costDisplay{
        text-align: start;
    }

}

@media screen and (min-width: 780px) {
    .scaleText{
        font-size: large;
    }
    #costDisplay{
        text-align:end;
    }
}