body {
    background: white;
}

.navbar {
    background-color: #2891f3;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#signInButtons {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.authButton {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #34D303;
}

#loginTitle {
    font-size: 4em;
}

.stat {
    display: flex;
}

.home-page-buttons{
    border: 1px black solid; 
    background-color: rgb(147, 225, 156);
}

#homeButton{
    margin-right: 900px;
}

#purchaseButtons{
    margin-top: auto;
}

.btn{
    border: black solid 1px;
}

.shadowButton{
    background-color: #6fd2fc;
    box-shadow: 0 10px 15px 0  lightblue;
    border: none;
}

#fab{
    box-shadow: 0 8px 16px 0  lightblue;
}

.card {
    margin: 30px 0;
}

.infoButtons{
    justify-self: start;
}


@media screen and (max-width: 480px) {
    .scaleText{
        font-size: medium;
    }
    #costDisplay{
        text-align: start;
    }
}


@media screen and (min-width: 780px) {
    .scaleText{
        font-size: large;
    }
    #costDisplay{
        text-align:end;
    }
}

#fab {
    z-index: 998;
    background-color: #00c247;
    color: white;
    border: none;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

#purchaseHomeBtn{
    z-index: 998;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

